*{
	box-sizing: border-box;
	/* padding:0; */
	/* margin:0; */
}
.wrapper {
	display:grid;
	grid-template-columns: 5fr 1fr;
	grid-template-rows: 4fr 5em;
	align-items: stretch;
	grid-template-areas:
		"main right-pane"
		"foot right-bottom";
	width:95vw;
	height:95vh;
	margin:0;
	padding:0;
}


/* --- Main grid ---  */
.main {
	grid-area: main;
	display:grid;
	grid-template-columns: subgrid;
	grid-template-rows: 4fr 80px;
	grid-template-areas:
		"video-container"
		"label-container";
}

.video-container {
	grid-area: video-container;
}
#the-video {
	max-width:100%;
	height:100%;
	object-fit:cover;
}

.label-container {
	grid-area: label-container;
	position: relative;
}
canvas#label-canv {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

canvas#play-loc-canv {
	position: absolute;
	left: 0;
	top: 0;
	z-index:1;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}


/* --- grids on the right  ---  */
.right-bottom {
	grid-area: right-bottom;
	/* background-color:green; */
	justify-self: center;
	align-self: center;
}

.right-pane {
	grid-area: right-pane;
}


/* --- buttons --- */
.control-container{
	padding-top:25px;
	padding-bottom:25px;
	padding-left:10px;
	padding-right:10px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 3em 1fr;
	grid-template-areas:
		"buttonleft buttoncentre buttonright"
		"descrleft descrcentre descrright";
}
.control-button {
	padding-top:10px;
	padding-bottom:10px;
}

#control-frame-backward {
	grid-area: buttonleft;
}
#control-play-framewise {
	grid-area: buttoncentre;
}
#control-frame-forward {
	grid-area: buttonright;
}
.control-descr {
	text-align:center;
	align-self:center;
}
#descr-frame-backward {
	grid-area: descrleft;
}
#descr-play-framewise {
	grid-area: descrcentre;
}
#descr-frame-forward {
	grid-area: descrright;
}


/* -- buttom footer -- */
.foot {
	grid-area: foot;
}

.video-chooser {
	width:100%;
}

/* __ Others __ */

#save-button {
	padding:0.75rem 1rem;
	border:0;
	background-color: ivory;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

#save-button:active {
	background-color: oldlace;
}

.color-noaction {
	color: #575757;
}

.color-action {
	color: #7022ba;
}

.color-hyperaction1 {
	color: #f0bd30;
}

.color-hyperaction2 {
	color: #de4a18;
}
